<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!--控制台打印sql-->
    <settings>
        <setting name="logImpl" value="STDOUT_LOGGING"/>
    </settings>

    <!--配置别名
        这样一来就不用写类全名，直接类名首字母小写即可
    -->
    <typeAliases>
        <package name="com.chao.wssf.pojo"/>
    </typeAliases>

</configuration>